/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
/*
.wp-block-create-block-pzdata {
	border: 1px dotted #f00;
}
*/
.pz-page-access {
	background-color: lightblue;
	border-width: 2px;
	padding: 10px;
}
