/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.pz-table-style {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pz-table-style thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.pz-table-style tr {
  color: #000000;
  text-align: left;
}

.pz-table-style th,
.pz-table-style td {
  padding: 12px 15px;
}

.zp-table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.pz-table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.pz-table-style tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  min-width: 200px;

  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 10px 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  margin-top: 20px;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #814144;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.form-style-1 .required {
  color: red;
}
